* {
  font-family: "Inria Sans", sans-serif;
  color: lightskyblue;
  background-color: navajowhite;
}

html {
  font-size: 62.5%;
}

header {
  margin: 8rem;
}

section {
  background-color: lavenderblush;
  width: 100%;
}

h1 {
  font-size: 80px;
}

nav {
  margin: 0 1rem;
  border: 0.3rem solid lightskyblue;
  padding: 2rem;
  display: inline-block;
  border-radius: 1rem;
  color: rgba(78, 36, 17, 0.705);
  text-decoration: none;
  margin-bottom: 2rem;
  background: #f87b99;
}

.nav-item {
  background-color: #f87b99;
  padding: 1rem;
  font-size: 2rem;
  color: rgba(78, 36, 17, 0.705);
}

h2 {
  font-size: 6rem;
  color: #f87b99;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: calc(100vw - 10rem);
  margin: 0 auto;
  background-color: lavenderblush;
}

.container p {
  background-color: lavenderblush;
}

.nav-container {
  display: grid;
  grid-template-areas:
    "nav-item nav-item"
    "nav-item nav-item";
}

/* .break {
  flex-basis: 100%;
  height: 0;
} */

.item-main {
  background-color: lavenderblush;
  margin: 1rem;
  flex-basis: 40%;
}

.item-text {
  background-color: lavenderblush;
  width: 40rem;
  flex-basis: 40%;
}

strong {
  background-color: lavenderblush;
}

.item-text p {
  background-color: lavenderblush;
  font-size: 2rem;
}

.stuff-button {
  background-image: linear-gradient(-90deg, #f87b99, lightskyblue);
  border-radius: 0.4rem;
  color: rgba(78, 36, 17, 0.705);
  width: 20rem;
  height: 6rem;
  font-size: 2rem;
  cursor: pointer;
}

.item {
  background-color: lavenderblush;
  flex-basis: 25%;
}

.item p {
  background-color: lavenderblush;
  font-size: 2rem;
}

footer {
  margin: 7.5rem;
  justify-items: space-evenly;
}

nav a {
  text-decoration: none;
}

.fa {
  margin: 5rem;
  background-color: navajowhite;
}

@media (max-width: 800px) {
  .item {
    flex-basis: 50%;
    justify-items: center;
  }

  .item-text {
    flex-basis: 100%;
    margin: 1.5rem;
  }
}

/* @media (max-width: 500px) {
  nav {
    width: 110%;
    height: 200%;
  }
} */

#projects .container {
  flex-flow: column wrap;
}

#projects .item {
  flex-basis: 100%;
}

#projects .item img {
  width: 30vw;
  margin-left: 15rem;
}

#contact .container h2 {
  background-color: lavenderblush;
  color: rgba(78, 36, 17, 0.705);
}

#contact .container {
  flex-flow: column;
  margin: 8rem;
}

#contact .container li,
a {
  background-color: lavenderblush;
}

#contact li {
  list-style-type: none;
  font-size: 3rem;
  margin: 2rem;
  text-decoration: underline;
}

footer a {
  background-color: navajowhite;
}

/* #contact li:before {
  content: "\1F95E";
  margin-left: -20px;
  margin-right: 10px;
} */

#about section.container {
  height: 100vh;
}

#about section.container p {
  font-size: 4rem;
  margin: 5rem;
}
